.App {
    text-align: center;
  }
  
  .App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }
  
  .distributor-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .summary {
    margin: 20px;
  }
  
  .summary p {
    margin: 5px 0;
  }
  